__pycache__/
corpus
exp/
loss/__pycache__/
models/__pycache__/
optimizer/__pycache__/
scheduler/__pycache__/
slurm_outputs/

*.pt
*.pth
*.ckpt
*.log
*.csv
*.tsv
*.json
*.npy
*.npz
*.h5
*.txt
*.zip
*.tar.gz
*.egg-info/
